/** 共通のスタイル */
.App {
  text-align: center;
  height: 100vh;
}

._mainBackGroundColorBlack {
  background-color: black;
}

._searchText {
  font-size: 25px;
}

._backGroundColor {
  background-color: #181818;
}

/* なぜかできない */
input[type='search']::-webkit-search-cancel-button {
  height: 130px; /* キャンセルボタンのサイズ */
  width: 130px; /*  キャンセルボタンのサイズ */
}
